<main>
<h1>Welcome To Wargame Campaign</h1> Beta
<p>A campaign management system for tabletop wargaming</p>

<section>
	<h2>How To Start a Campaign</h2>
		<p>First, register a new account if you have not already and log in.</p>
		<p>Second, go to your profile page by clicking your username in the top right corner.</p>
		<p>Third, click Create New Army and give it a name and description and save it.</p>
		<p>Fourth, click on the army name and click add Unit.</p>
		<p>Fifth, fill out information for that unit. Combat-Type will affect what kind of buildings can produce these units, and price will be how much the unit costs. Tier will affect how upgraded a building must be to produce that unit. The rest is for your benefit.</p>
		<p>Sixth, continue adding units until you have a complete army. When finished, return to your profile page. (P.S. instead of creating a new army, you can go to a friends profile page through the Wargamers and click Copy Army to get an army from a friend)</p>
		<p>Seventh, click Create New Map and build a map to your liking. A map can only have a maximum of 4 castles. Castles are starting points for players. Save and name the map when finished. (P.S. you may copy maps just like you copy armies).</p>
		<p>Eighth, click Start a new Campaign and select the map and players to invite. Save and name the map to start.</p>
		<p>Ninth, have all the players that you invited go to your profile page and click on your campaign. If they are on the players invited list they may click join campaign to join. (P.S. you can only add players that you have designated as friends, to do this go to your friends profile page and click add friend).</p>
		<p>Finally, when all or enough players have joined, someone may click start campaign. You will then be told who's turn it is and that player must take their turn. For rules on a campaign, go to the rules section. Have fun!</p>
</section>

</main>