<main>
<section>
	<h1>How to Play</h1>

	<p>Each player starts with a Castle and 200 gold. You may click on your castle to get more information and options for you castle.</p>
	<p>Each castle starts with a barracks1 and stables1, meaning you may build tier 1 infantry and cavalry from that castle. You may spend gold to build additional buildings.</p>
	<p>Building barracks will allow you to build better infantry units, stables will let you build better cavalry, workshop will let build better artillery, and secret will let you build units with the "other" combat-type.</p>
	<p>Building misc and defense tower won't do anything within this program, but allow for those who want to be creative and add some house rules. For instance, maybe building a defense tower will give you some bonus when under seige when you play on the table top.</p>
	<p>You can spend gold to train units that will remain in your garrison. You can click the Form Battalion button at the bottom to create a battalion using units within the castle. Select how many of each units will be in the battalion and where the battalion will be created (Up, Down, Left, or Right of the Castle or Town).</p>
	<p>Click on a battalion(pawn) to get more information and options for that battalion. It will be highlighted, and if you click on the directional pad (Up, Down, Left, Right) to move the battalion 1 space in that direction.</p>
	<p>Moving will take up movement points for that battalion. You can view how much movement that battalion has left by selecting it and looking at the bottom of the page.</p>
	<p>Some terrain takes more movement than others. Plains, castles, and towns take 1, forests take 1.3. mountains take 2, and water can't be moved through. Moving on to a unoccupied town will capture that town.</p>
	<p>Moving on to an enemy square will engage that unit in combat. So, when you end your turn (Press End Turn above the map) you will be shown all battles that need to take place.</p>
	<p>On the main campaign page, if there are battles to be had, instead of stating who's turn it is, it will show a list of battles. Have the battles on the table top (in real life) and enter who won and how many casualties took place on each side and submit that information.</p>
	<p>Notice, there is no way for the program to declare a winner of the campaign. The victory conditions (along with as anything else you want) are up to your group to decide.</p>
</section>
	
<section>
	<h1>Tips</h1>
	<p>This program is a framework for map based campaigns that involves capturing settlements and building structures, but there are many ways to make the campaign unique. Here are some ideas to help you get started, but don't hesitate to add rules as you see fit.</p>
	<p>Have terrain you use in battle change based on where you are on the map. For instance, when fighting in a forest add more forests and trees as terrain in your battle. When fighting on a mountain, add more hills and rocks instead. You may want a terrain generation table for each kind of map tile.</p>
	<p>Run a seige scenario when fighting for a castle or town, And a pitched battle when in the field</p>
	<p>Keep track of which units die in on the table top so you can enter that information when needed. If you think every unit that is lost on the table top is too much to lose, roll a d6 for each model that fell and on a 4+ it wasn't fatal.</p>
	<p>Building defense tower in your castle or towns can perhaps give you an extra building durring a seige, and maybe when you upgrade it, the tower gets a built in ballista, or something based on the faction you are playing.</p>
	<p>Maybe building a "misc" building will do something specific for the faction you are playing.</p>
	<p>Maybe certain factions will get bonuses on certain terrain. For instance, maybe dwarfs get a moral bonus in the mountains, and elves do in the forest.</p>
	<p>Perhaps, if a battle occurs between two pieces in a string of water(like "WPW"), have a river going through the middle of the battlefield.</p>
	<p>Make it illegal to build a hero unit more than once a game, or you can only have one of each of every hero unit at a time.</p>
	<p>These are all just some ideas and not rules, feel free to alter anything you can to fit your groups style of play. All these kind of rules need to be enforced by the group though, because the program won't do it for you (freedom is a double edge sword, isn't it)</p>
</section>

</main>